legend, label {
    color: white;
}

form {
    background-color: #213b50;
    padding: 20px;
}


input, select, textarea {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #2b4a64;
    border: none;
    color: white;
}

input[type="text"], input[type="tel"], input[type="email"], textarea, select {
    width: 300px;
}

input:focus, select:focus, textarea:focus {
    background-color: #4e708c;
    border: 1px solid white;
}

input[type="submit"] {
    background-color: darkcyan;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color:cadetblue;
}

/* Gdyby ktoś chciał koniecznie zmienić kolor czcionki */
input::placeholder, textarea::placeholder, select {
    color: orange;
}

textarea {
    resize: none;
}

